.project h1 {
  margin: 30px;
}

.project-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card {
  border-left: solid 5px;
}

.mat-card-actions {
  text-align: right;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mat-card-content {
  display: flex;
  flex: 1;
}
